NEXT_PUBLIC_SUPABASE_URL=pendiente
NEXT_PUBLIC_SUPABASE_ANON_KEY=pendiente
SUPABASE_URL=pendiente
SUPABASE_SERVICE_KEY=pendiente
NEXT_PUBLIC_APP_URL=pendiente
STRIPE_SECRET_KEY=pendiente
STRIPE_WEBHOOK_SECRET=pendiente
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pendiente
LEONARDO_API_KEY=pendiente
